{% extends 'masterpage.html' %}
{% block content %}
<div class="box" style=" background:url(../assets/images/feedback.png);  background-repeat: no-repeat; width:500px; height:800px; position:relative; left:50px; top:70px;">
        <div class="box1" style="width:600px; height:600px; position:relative; left:600px;">
            <h1 style="text-align:center;">WELCOME TO HOPEWELL HOSPITAL</h1>
            <h4 style="text-align:center;">ABOUT THE HOSPITAL</h4>
            <div class="col-md-12" style="background-color:#99A0A3;" ><br/><br/>
                <h2>
                    Thunga Hospital is a private, multi-specialty healthcare center located in Mumbai, India. Established in the year 2001, the hospital today stands to be one of the best healthcare centers in Mumbai. Featuring state-of-the-art diagnostic, therapeutic and intensive care facilities, the hospital is a one-stop medical center for patient care.

Located in Mira road, Malad and Boisar, these hospitals are well planned and designed, featuring some of the best and most advanced technology equipments for diagnostics and healthcare treatment. The hospital has multiple operation theaters, sophisticated ICU, blood storage centre, a digital radiology unit, a kidney transplant unit, and many other such facilities.

Staffed by the finest medical and administrative personnel in Mumbai, the hospital renders highly specialized services in areas of orthopedics, cardiology, nephrology, oncology, urology, diabetology, gastroenterology, brain & spine, eye care, mother-care and so on. We bring together exceptional team of doctors, clinical researchers and multidisciplinary investigators, translating medical advances into ways of diagnosing and treating patients and preventing diseases.

Today, the hospital stands to be a renowned medical center in the city, offering quality healthcare care solutions. With an ambitious goal of expanding to a 150 bed hospital, it continues its journey of success with great dedication and commitment.

The hospital today prides in its number of happy customers who stand a true testimony to the quality of services they offer. The hospital has received accolades for its services and has hence become the preferred healthcare choice for people in the city. It has been enriching lives of people with not just their treatment, but also through various social activities. The Thunga Medical Trust organizes a number of socio-medical camps and other social initiatives on a regular basis to benefit the poor and needy.
                </p></br></h2>&nbsp;&nbsp;&nbsp;&nbsp;

{% endblock %}