{% extends 'dashboard_master.html' %}

{% block content %}
<div class="box" style=" background:url(/assets/images/appo.jpg);  background-repeat: no-repeat; width:500px; height:800px; position:relative; left:30px; top:70px;">


        <div class="box1" style="width:600px; height:800px; position:relative; left:400px;">
            <h1 style="text-align:center;">APPOINTMENT FOAM</h1><br/>

<form method="post" enctype="multipart/form-data" style="padding-left:200px;">

     {% csrf_token %}
    {% if taru %}
    <script type="text/javascript">
        alert('successfully aloted');
    </script>
     {% endif %}
    <div class="form-group">




 <div class="form-group">
    <label >Select Department</label>

        <select name="deppartment" class="form-control" >
            <option>Select Department</option>
            {% if d %}
    {% for i in d %}

            <option value="{{ i.depttId }}">{{i.depttName}}</option>
    {% endfor %}
            {% else %}
            <option value="-1">No Department Found</option>
    {% endif %}

        </select>
  </div><br/>

 <div class="form-group">
    <label >Select Doctor</label>

        <select name="doctor" class="form-control" >
            <option>Select Department</option>
            {% if d1 %}
    {% for i in d1 %}

            <option value="{{ i.userEmail }}">{{ i.userFullName }}</option>
    {% endfor %}
            {% else %}
            <option value="-1">No doctor found</option>
    {% endif %}

        </select>
 </div><br/>

     <div class="form-group">
    <label >DATE</label>
         <input type="date" name="date"/>
         </div><br/>












      <input  type="submit" class="btn btn-primary" value="Submit" style="align:center;">
</form> </div></div>
<!--//content-inner-->
			<!--/sidebar-menu-->
				<div class="sidebar-menu">
					<header class="logo">
					<a href="#" class="sidebar-icon"> <span class="fa fa-bars"></span> </a> <a href="index.html"> <span id="logo"> <h1>Augment</h1></span>
					<!--<img id="logo" src="" alt="Logo"/>-->
				  </a>
				</header>
			<div style="border-top:1px solid rgba(69, 74, 84, 0.7)"></div>







{% endblock %}