{% extends 'masterpage.html' %}
{% block content %}
<div class="col-md-12 "><br/><br/>

  <img src="/assets/images/drfed.jpg/"  alt="kuch bhi" width="800" height="600"
       style="position:relative;left:450px;">
  <div class="col-md-6  " style="position:relative;left:100px;top:-450px;">
    <form>
  <div class="form-group">
    <label for="exampleInputEmail1">Email address</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
  </div>
  <div class="form-group">
    <label for="exampleInputSubject">Subject</label>
    <input type="text" class="form-control" id="exampleInputSubject" placeholder="subject">
  </div>
  <div class="form-group">
    <label for="exampleFormControlTextarea1">Example textarea</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>


  </div>

  </div>


{% endblock %}