{% extends 'masterpage.html' %}
{% block content %}
            <div class="col-md-12">
                <img src="/assets/images/facilites.jpg" class="img-responsive" style="position:relative;right:15px;"
                     alt="" width="1450">






            <section id="quality" class="quality about">
        <div class="why-choose-us-area section-padding">
        <div class="container wow slideInUp">


            <div class="row">
                <div class="col-sm-12">
                    <h2 class="mb-15 boreder mt-50">Facilities</h2>
                     <p class="mb-15">We at Thunga Hospital offer our patients  efficient medical services for a better healthcare treatment. Our medical  services include <strong></strong></p>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12">
                    <div class="why-choose-us-content">
                        <ul class="choose-us-content-list row">
                            <li class="col-md-4 col-xs-12 col-sm-6">
                                <a href="#">
                                    <img src="/assets/images/ambu.png" alt=""/><br>
                                    <span class="department-name">Ambulance Service</span>
                                    <p>Offer a prompt, 24X7 ambulance for emergency transport of patient.</p>
                                </a>
                            </li>

                            <li class="col-md-4 col-xs-12 col-sm-6">
                                <a href="#">
                                    <img src="/assets/images/em.png" alt=""/><br>
                                    <span class="department-name">Casualty & Emergency Unit</span>
                                    <p>A 24X7 operating casualty and emergency Unit for accident cases.</p>
                                </a>
                            </li>

                          <li class="col-md-4 col-xs-12 col-sm-6">
                                <a href="#">
                                     <img src="/assets/images/cap1.png" alt=""/><br>
                                    <span class="department-name">Pharmacy </span>
                                    <p>In-house 24X7 pharmacy offering medicines and other relevant medical treatment equipments.</p>
                                </a>
                            </li>

                            <li class="col-md-4 col-xs-12 col-sm-6">
                                <a href="#">
                                    <img src="/assets/images/path.png" alt=""/></i><br>
                                    <span class="department-name">Pathology & Diagnostic Center</span>
                                    <p>An around the clock operating pathology & diagnostic center for diagnosis of ailments.</p>
                                </a>
                            </li>

                           <li class="col-md-4 col-xs-12 col-sm-6">
                                <a href="#">
                                    <img src="/assets/images/x.png" alt=""/></i><br>
                                    <span class="department-name">Digital X-Ray / Portable X-Ray</span>
                                    <p>X-Ray facility for a simplified and hassle free experience for basic bone diagnosis.</p>
                                </a>
                            </li>

                           <li class="col-md-4 col-xs-12 col-sm-6">
                                <a href="#">
                                    <img src="/assets/images/sono.png" alt=""/><br>
                                    <span class="department-name">Sonography / 2D Echo </span>
                                    <p>Hospitals are equipped with modern ultrasound machines that provide high resolution image and helps diagnose anatomical defects.</p>
                                </a>
                            </li>

                             <li class="col-md-4 col-xs-12 col-sm-6">
                                <a href="#">
                                    <img src="/assets/images/x2.png" alt=""/><br>
                                    <span class="department-name">X-Ray</span>
                                    <p>Hospitals consist of X-ray machines featuring high frequency low radiation digital radiography.</p>
                                </a>
                            </li>

                            <li class="col-md-4 col-xs-12 col-sm-6">
                                <a href="#">
                                     <img src="/assets/images/hem.png" alt=""/></i><br>
                                    <span class="department-name">Haemo Dialysis</span>
                                    <p>Hospital has a Haemo dialysis unit for providing kidney dialysis to ailing patients.</p>
                                </a>
                            </li>
                            <li class="col-md-4 col-xs-12 col-sm-6">
                                <a href="#">
                                    <img src="/assets/images/ultra.png" alt=""/><br>
                                    <span class="department-name">Ultrasound</span>
                                    <p>Hospitals also have Ultrasound machines offering 3D and 4D imaging and provides whole body Doppler.</p>
                                </a>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
            <hr>
            <p>Combined, best in class technology and expertise of professional doctors the hospital ensures world-class health care to all patients. Established in Mira road with a capacity of 120 beds, Malad with 150 beds and Boisar with 70 beds, all the hospitals are well equipped with state-of-the-art facilities and advanced information management system. Hospital's advanced building Management System offers a multi-tiered access control, electronic security systems with integrated CCTVs spanning across the facility and advanced fire management system amongst other utilities.</p>
            <hr>
            </div>

            <div class="col-xs-12 col-sm-12 col-md-12">
                    <div class="why-choose-us-content">
                        <ul class="choose-us-content-list row">
                            <li class="col-md-4 col-xs-12 col-sm-6">
                                <a href="#">
                                    <img src="/assets/images/lb.png" alt=""/><br>
                                    <span class="department-name">Laboratories</span>
                                    <p>Hospitals feature well equipped labs to offer range of diagnostic services in Haematology, Microbiology, Molecular Biology and Histopathology.</p>
                                </a>
                            </li>

                            <li class="col-md-8 col-xs-12 col-sm-6">
                                <a href="#">
                                    <img src="/assets/images/blod.png" alt=""/><br>
                                    <span class="department-name">Blood storage centre</span>
                                    <p>Hospitals feature 24X7 blood storage center with all the required facilities in it to meet the blood requirements of patients in the hospital. The center is equipped with the NAT System for the screening of blood to ensure safety for all its patients.</p>
                                </a>
                            </li>


                        </ul>
                    </div>
                </div>
        </div>
    </div>


        </section>
</div>








{% endblock %}