
{% extends 'masterpage.html' %}
{% block content %}
<div class="col-md-12" style="background-color:#99A0A3;" ><br/><br/>
  <h2>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      &nbsp;&nbsp;&nbsp;Welcome to<font color="blue"> HopeWell Hospitals</font></h2><br/>


</p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      &nbsp;&nbsp;&nbsp;&nbsp;Hopewell Hospital is a private, multi-specialty healthcare center located in Chandigarh, India.<br/>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      &nbsp;&nbsp;&nbsp;&nbsp;
    Established in the year 2014, the hospital today stands to be one of the best healthcare <br/>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      &nbsp;&nbsp;&nbsp;&nbsp;
    centers in chandigarh.Featuring state-of-the-art diagnostic, therapeutic and intensive care <br/>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      &nbsp;&nbsp;&nbsp;&nbsp;
    facilities, the hospital is a one-stop medical center for patient care.</p></br>

    <img src="/assets/images/reception.jpg" width="400" height="150"style="position:relative;left:800px;top:-150px; border:4px groove white;">
    <button type="button" class="btn btn-primary">readmore</button>
    <button type="button" class="btn btn-outline-warning">contact us</button>



</div>
<marquee><font size="10"> HOPEWELL HOSPITAL</font> </marquee>
<footer id="hs_footer" >
            <div class="container col-md-12 " style="background-color:#99A0A3;">
                <div class="hs_footer_content" style="padding-top:50px;">
                    <div class="row">
                        <div class="col-md-3" style="margin-left:100px;">
                            <h4>About Us</h4>
                            </li>

                            <p class="text-justify">
                                Thunga Medical Trust has engaged in various charitable activities pan India. Trustees &amp;
                                its members take a keen interest in promoting health awareness like AIDS, fighting against Tobacco, alcohol, conducting free health check up campaigns, Blood donation drive etc..
                                <a href="about.php">read more</a>
                            </p>
                        </div>
                        <div class="col-md-5" >
                            <h4>Our Department</h4>
                            <div class="col-md-7">
                                <div class="hs_footer_link aria">
                                    <ul>
                                        <li><a href="accident.php"><i class="fa fa-angle-right" aria-hidden="true"></i> Accident &amp; Emergency</a></li>
                                        <li ><a href="physician.php"><i class="fa fa-angle-right" aria-hidden="true"></i> Physician</a></li>
                                        <li><a href="cardiology.php"><i class="fa fa-angle-right" aria-hidden="true"></i> Cardiology</a></li>
                                        <li><a href="bone-and-joint.php"><i class="fa fa-angle-right" aria-hidden="true"></i> Bone &amp; Joint</a></li>
                                        <li><a href="mother-and-child-care.php"><i class="fa fa-angle-right" aria-hidden="true"></i> Mother &amp; Child Care</a></li>
                                        <li><a href="general-and-laparoscopic-surgery.php"><i class="fa fa-angle-right" aria-hidden="true"></i> General &amp; Laparoscopy</a></li>
                                        <li><a href="eye-care.php"><i class="fa fa-angle-right" aria-hidden="true"></i>  Eye Care &amp; ENT</a></li>
                                        <li><a href="nephrology.php"><i class="fa fa-angle-right" aria-hidden="true"></i> Nephrology</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-5 mobile-footer"
                                 style="position:realative;top:-206px;left:300px;">
                                <div class="hs_footer_link aria">
                                    <ul>
                                        <li><a href="diabetology.php"><i class="fa fa-angle-right" aria-hidden="true"></i> Diabetology</a></li>
                                        <li><a href="neurology.php"><i class="fa fa-angle-right" aria-hidden="true"></i> Brain &amp; Spine</a></li>
                                        <li><a href="urology.php"><i class="fa fa-angle-right" aria-hidden="true"></i> Urology</a></li>
                                        <li><a href="oncology.php"><i class="fa fa-angle-right" aria-hidden="true"></i> Oncology</a></li>
                                        <li><a href="cosmetology-and-plastic-surgery.php"><i class="fa fa-angle-right" aria-hidden="true"></i> Plastic Surgery</a></li>
                                        <li><a href="radiology.php"><i class="fa fa-angle-right" aria-hidden="true"></i> Radiology</a></li>
                                        <li class="fontsize"><a href="gastroenterology.php"><i class="fa fa-angle-right" aria-hidden="true"></i> Gastroenterology</a></li>

                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4"
                        style="position:realative;top:-428px;left:1000px;">
                            <h4>Get In Touch</h4>

                         </div>
                        <div class="hs_copyright">
                        <div class="container">
                        <div class="row">
                        <div class="col-md-12 col-sm-6 footertxt">Copyright © Hopewell Hospital. All Rights Reserved. </div>
                        <div class="col-md-12 col-sm-6 text-right footertxt">Website Designed & Developed By <a href="http://host2unlimited.com" target="_blank" class="footerlink">Host2Unlimited</a></div>
                        </div></div>

            </div>

                    </div>

                </div>


            </div>
</footer>
{% endblock %}

