{% extends 'dashboard_master.html' %}

{% block content %}

<form method="POST" >
     {% csrf_token %}
    {% if taru %}
    <script type="text/javascript">
        alert('successfully updated');
    </script>
     {% endif %}

<div>
    <h3>PAITENTS NAME  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
         &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
         &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Date &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
         &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
         &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Action</h3>
  {% if d1 %}
    {% for i in d1 %}
 <li>
     <ol>
         {{ i.userEmail }}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
         &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
         &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ i.AppointmentDate }}
         &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
         &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
         &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="/doctors/updatepatient/?pe={{ i.userEmail }}" >diagonal</a>

     </ol>
 </li>

















{% endfor %}
{% endif %}
<!--<h3>DATE </h3>-->
<!--  {% if d1 %}-->
<!--    {% for i in d1 %}-->
<!-- <div> <li>-->
<!--     <ol>-->
<!--         {{ i.AppointmentDate }}-->

<!--     </ol>-->
<!-- </li>-->
<!--     </div>-->


<!--{% endfor %}-->
<!--{% endif %}-->

</div></form>
<!--//content-inner-->
			<!--/sidebar-menu-->
				<div class="sidebar-menu">
					<header class="logo">
					<a href="#" class="sidebar-icon"> <span class="fa fa-bars"></span> </a> <a href="index.html"> <span id="logo"> <h1>Augment</h1></span>
					<!--<img id="logo" src="" alt="Logo"/>-->
				  </a>
				</header>
			<div style="border-top:1px solid rgba(69, 74, 84, 0.7)"></div>

{% endblock %}