.nav1{margin-left:50px;
}

.color{background-color:#99A03;
       height:400px;

}
.ft1{position:realative;
top:-206px;
left:300px;
}
.recption{
padding-top:50px;
}
.recption1{margin-left:100px;
}
.emrgency{position:realative;
top:50px;
}
