<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Password Change</title>
</head>
<body>

<form method="POST">
 {% csrf_token %}
    {% if old %}
    <script>
        alert("old pswd doesnot match")
    </script>
    {% endif %}
<label>current password</label>
<input type="text" name="currentpass">
<br/>
<label>new password</label>
<input type="text" name="newpass">
<br/>
<label>confirm password</label>
<input type="text" name="confirmpass">
<br/>
<input type="submit" value="changepassword">
</form>
</body>
</html>