
{% extends 'masterpage.html' %}
{% block content %}
<div class="center" style="position:relative; left:500px;">
<form method="POST">
 {% csrf_token %}
    {% if old %}
    <script>
        alert("old pswd doesnot match")
    </script>
    {% endif %}
<br/>

<label>Current Password</label>
<input type="text" name="currentpass" placeholder="Enter Current Password">
    <br/>
<br/>
<label>New Password</label>
<input type="text" name="newpass" placeholder="Enter New Password">
<br/>
    <br/>
<label>Confirm Password</label>
<input type="text" name="confirmpass" placeholder="Confirm Password">
<br/>
<br/>

    <div style="position:relative; left:75px;">
 <input  type="submit" class="btn btn-primary" value="Change Password">
    </div>
</form>

</div>

{% endblock %}