<!DOCTYPE html>
<html lang="en">
<head>


    <script type="text/javascript" src="/assets/js/mquery.js"></script>
    <script type="text/javascript" src="/assets/js/sliderimg.js"></script>
     <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="/assets/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>

    <link rel="stylesheet" type="text/css" href="/assets/css/sliderimg.css"/>
    <link rel="stylesheet" type="text/css" href="/assets/css/login.css"/>
    <link rel="stylesheet" type="text/css" href="/assets/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/assets/css/masterpage.css"/>
    <link rel="stylesheet" type="text/css" href="/assets/css/facilites.css"/>


    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="col-md-12 bg-primary"  >
&nbsp;
</div>
<div class="col-md-12"><br/>
    <img src="/assets/images/logo1.png" style="position:relative;top:-15px;left:30px;" >
    <img src="/assets/images/emergency.png" height="120" width="150" class="logo2" style="position:relative;top:-15px;left:400px;" />
    <img src="/assets/images/helpline.jpg" eight="120" width="150" class="logo3" style="position:relative;top:-15px;left:700px;"/>
    <div class="emrgency" style="position:absolute;top:;left:700px;color:red;"><h3>Emergency</h3>
    <p>0173237699</p></div>
    <div class="help" style="position:absolute;top:100px;right:200px;color:blue;">

                    <p>01732–5610111</p>

    </div>
</div>

    <header>
  <nav class="navbar navbar-expand-md navbar-dark bg-primary">
    <a class="navbar-brand" href="#">Hopewell</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse nav1" id="navbarCollapse" >
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/user/">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="#">Departments</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link " href="/facilites/">Facilites</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link " href="#">Aboutus</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link " href="#">OurDoctors</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link " href="/login/">login</a>
        </li>
           <li class="nav-item active">
          <a class="nav-link " href="/contactus/">Contactus</a>
        </li>

         <li class="nav-item active">
          <a class="nav-link " href="/signup/">SignUp</a>
        </li>
      </ul>

    </div>
  </nav>
</header>


    {% block content %}




    {% endblock %}

    <footer id="hcolor height" >
            <div class="container col-md-12 color height" >
                <div class="hs_footer_content recption">
                    <div class="row">
                        <div class="col-md-3 recption1" >
                            <h4>About Us</h4>
                            </li>

                            <p class="text-justify">
                                Thunga Medical Trust has engaged in various charitable activities pan India. Trustees &amp;
                                its members take a keen interest in promoting health awareness like AIDS, fighting
                              Tobacco, alcohol, conducting free health check up campaigns, Blood donation drive etc..
                                <a href="about.php">read more</a>
                            </p>
                        </div>
                        <div class="col-md-5" >
                            <h4>Our Department</h4>
                            <div class="col-md-7">
                                <div class="hs_footer_link aria">
                                    <ul>
                                        <li><a href="accident.php"><i class="fa fa-angle-right" aria-hidden="true"></i> Accident &amp; Emergency</a></li>
                                        <li ><a href="physician.php"><i class="fa fa-angle-right" aria-hidden="true"></i> Physician</a></li>
                                        <li><a href="cardiology.php"><i class="fa fa-angle-right" aria-hidden="true"></i> Cardiology</a></li>
                                        <li><a href="bone-and-joint.php"><i class="fa fa-angle-right" aria-hidden="true"></i> Bone &amp; Joint</a></li>
                                        <li><a href="mother-and-child-care.php"><i class="fa fa-angle-right" aria-hidden="true"></i> Mother &amp; Child Care</a></li>
                                        <li><a href="general-and-laparoscopic-surgery.php"><i class="fa fa-angle-right" aria-hidden="true"></i> General &amp; Laparoscopy</a></li>
                                        <li><a href="eye-care.php"><i class="fa fa-angle-right" aria-hidden="true"></i>  Eye Care &amp; ENT</a></li>
                                        <li><a href="nephrology.php"><i class="fa fa-angle-right" aria-hidden="true"></i> Nephrology</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-5 mobile-footer ft1 ">
                                <div class="hs_footer_link aria">
                                    <ul>
                                        <li><a href="diabetology.php"><i class="fa fa-angle-right" aria-hidden="true"></i> Diabetology</a></li>
                                        <li><a href="neurology.php"><i class="fa fa-angle-right" aria-hidden="true"></i> Brain &amp; Spine</a></li>
                                        <li><a href="urology.php"><i class="fa fa-angle-right" aria-hidden="true"></i> Urology</a></li>
                                        <li><a href="oncology.php"><i class="fa fa-angle-right" aria-hidden="true"></i> Oncology</a></li>
                                        <li><a href="cosmetology-and-plastic-surgery.php"><i class="fa fa-angle-right" aria-hidden="true"></i> Plastic Surgery</a></li>
                                        <li><a href="radiology.php"><i class="fa fa-angle-right" aria-hidden="true"></i> Radiology</a></li>
                                        <li class="fontsize"><a href="gastroenterology.php"><i class="fa fa-angle-right" aria-hidden="true"></i> Gastroenterology</a></li>

                                    </ul>
                                </div>

                            </div>
                        </div>


                    </div>
                </div>
            </div>
    </footer>
  <div class=" col-md-12 bg-dark">
    jigdjfhjhfjhkkjgkjgkjfgkjkjjkgkjhgkjkjkjgkjhkjghkjghkkjhgkjdhkjkdhjkdhdhhkdkjkj<br>
    jigdjfhjhfjhkkjgkjgkjfgkjkjjkgkjhgkjkjkjgkjhkjghkjghkkjhgkjdhkjkdhjkdhdhhkdkjkj<br>
    jigdjfhjhfjhkkjgkjgkjfgkjkjjkgkjhgkjkjkjgkjhkjghkjghkkjhgkjdhkjkdhjkdhdhhkdkjkj<br>

  </div>

<!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->



</body>
</html>