{% extends 'dashboard_master.html' %}
{% block content %}






<div class="col" style="position:relative;left:400px;">
	 <h1>DEPARTMENTS</h1><br/>

<form method="post">
	{% csrf_token %}
    {% if success %}
    <script type="text/javascript">
        alert('Details Updated Successfully');

    </script>
    {% endif %}






	<div>
		<select name="department">
			<option value="Cardiology">Cardiology</option>
			<option value="Radiology">Radiology</option>
			<option value="Brain & Spine">Brain & Spine</option>
			<option value="dermatology">dermatology</option>
			<option value="other">other</option>
		</select>
	</div>

<br/>
<br/>

     <input  type="submit" class="btn btn-primary" value="Submit">
</form>
</div>
{% endblock %}