{% extends 'masterpage.html' %}
{% block content %}

<table class="table table-striped table-dark">
  <thead>
    <tr>
      <th scope="col">S.No</th>
      <th scope="col">departmentid</th>
      <th scope="col">departmentname</th>
      <th scope="col">active</th>

    </tr>
  </thead>

    {% if d2 %}
    {% for i in d2 %}
    <tbody>
    <tr>
      <th scope="row">1</th>
        <td>{{i.depttId}}</td>
        <td>{{i.depttName}}</td>
        <td>{{i.isActive}}</td>
      <td><a href="/manager/deletedepartment/?id={{ i.depttId }} ">delete</a></td>
      <td><a href="/manager/departmentupdate">update</a></td>
    </tr>


  </tbody>
  {% endfor %}

    {% endif %}

</table>



{% endblock %}