{% extends 'dashboard_master.html' %}
{% block content %}






<div class="col" style="position:relative;left:400px;">
	 <h1>ADDTEST</h1><br/>

<form method="post">
	{% csrf_token %}
    {% if success %}
    <script type="text/javascript">
        alert('Details submit Successfully');

    </script>
    {% endif %}
	{% if taru %}
    <script type="text/javascript">
        alert('TESTNAME ALREADY EXISTS ADD OTHER  TEST ');

    </script>
    {% endif %}





<div class="form-group purple-border col-sm-2">
  <label for="name">ADDTEST</label>
        <input type="text" class="form-control" name="name" id="exampleFormControlTextarea" >
</div>

    <div class="form-group purple-border col-sm-2">
  <label for="name">PRICE OF TEST</label>
        <input type="text" class="form-control" name="price" id="exampleFormControlTextarea4" >
</div>
<label class="mdb-main-label">REPORT TIMMING</label>
<select name="time" class="mdb-select md-form" editable="true" searchable="Search and add here...">
  <option value="-1" disabled selected>Choose your option</option>
  <option value="4hours">4hours</option>
  <option value="2dyas">2dyas </option>
  <option value="4 days">4 days </option>
	<option value="7 days">7 days </option>
	<option value="15 days">15 days </option>
</select>

<!--  <label for="name">ReportTiming</label>-->
<!--        <input type="text" class="form-control" name="time" id="exampleFormControlTextarea5" >-->
<!--</div>-->



<br/>
<br/>
	<br/><br/>
	<br/>

     <input  type="submit" class="btn btn-primary" value="Submit">
</form>
</div>
<!--//content-inner-->
			<!--/sidebar-menu-->
				<div class="sidebar-menu">
					<header class="logo">
					<a href="#" class="sidebar-icon"> <span class="fa fa-bars"></span> </a> <a href="index.html"> <span id="logo"> <h1>Augment</h1></span>
					<!--<img id="logo" src="" alt="Logo"/>-->
				  </a>
				</header>
			<div style="border-top:1px solid rgba(69, 74, 84, 0.7)"></div>

{% endblock %}